<div class="row">
    <div class="col-md-12">
        <div class="text-center intro">
          <h1>Hello there,</h1>
          <h4>We are Treeppo.</h4><h4 class="red">A creative bunch who love code and design.</h4>
        </div>
    </div>
   <div class="row">
    <div class="col d-flex  justify-content-center">
      <input type="text" placeholder="Enter any text" class="text-center" (input)="showinput($event)">
    </div>
   </div>
   <div class="row">
    <div class="col d-flex  justify-content-center">
      <p>{{searchvalue}}</p>
    </div>
   </div>
   <div class="row">
    <div class="col d-flex  justify-content-center">
      <div class="alert alert-success" role="alert" [hidden]="displayalert">
        <div class="d-flex justify-content-between">
          <h4 class="alert-heading d-inline ">Well done!</h4>
          <button class="btn btn-close" (click)="closealert()"></button>
        </div>
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
      </div>
    </div>
   </div>
</div>
